#sidebar {
  padding: 6px;
  flex-shrink: 0;
  flex-grow: 0;
}

.menu {
  ol {
    .current {
      > .label {
        &, &:visited {
          color: lighten(black, 30%);
        }
      }
    }

    :not(.current) {
      > .label {
        &, &:visited {
          color: black;
        }
        &:hover {
          color: steelblue;
        }
      }
    }

    .active {
      background-color: rgba(0, 0, 0, 0.05)
    }

    li {
      ol {
        margin: 4px;
      }

      padding: 4px;
    }

    list-style: none;
    padding: 0;
    margin: 0;
  }
}

header {
  * {
    display: inline;
  }

  .menu {
    margin-left: auto;
  }
}

.widget {
  border: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 30px;
}

article {
  max-width: 800px;
  padding: 6px;
  flex-shrink: 1;
  flex-grow: 0;
}

h1 {
  a {
    &, &:visited {
      color: black;
    }

    &:hover {
      color: lighten(black, 30%);
    }

    text-decoration: none;
  }

  margin: 0;
}

header {
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.body {
  display: flex;

  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .body {
    flex-direction: row;
  }

  #sidebar {
    width: 212px;
  }
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

code, pre {
  font-family: Monaco, 'Lucida Console', monospace;
}

pre {
  font-size: 10pt;
}

.warning {
  &:before {
    content: 'Varning';
    padding: 2px;
    position: relative;
    top: -0.75em;
  }

  &, &:before {
    border: #670000 2px solid;
    background-color: rgb(255, 225, 225);
  }

  p {
    margin: 0;
  }

  padding: 6px;
}
