@()(implicit req: RequestHeader)

@contentBase("Om Kodknackning") {
    <p>
        Kodknackning är mitt försök på att skapa en programmeringsguide på svenska för nybörjare.
    </p>
    <p>
        Guiden är skriven med hjälp av och lär ut språket <a href="http://scala-lang.org/">Scala</a>
        då jag anser att det är ett unikt språk som är både kortfattat att skriva, statiskt verifierat
        (dvs du får fler felmeddelanden redan när du försöker kompilera (förbereda) koden istället för
        när du försöker köra programmet), och det är dessutom välanvänt av företag som t.ex. Twitter,
        LinkedIn, och FourSquare.
    </p>
    <p>
        Guiden är också ett bidrag i .SEs tävling <a href="http://www.webbstjarnan.se/">Webbstjärnan</a>.
    </p>

    <h3>Upphovsrätt</h3>
    <p>
        Allt textinnehåll på webbplatsen är licensierat under
        <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0-licensen</a>.
        Det innebär att du kan fritt dela med dig av innehållet samt göra dina egna ändringar,
        under förutsättning att du ger samma rättigheter vidare, samt att du visar källan (denna webbplats).
    </p>
    <p>
        Webbplatsens källkod är licensierad under
        <a href="https://github.com/teozkr/kodknackning/blob/master/COPYING.BSD">BSD-licensen</a>.
    </p>
    <p>
        Webbplatsen använder även bland annat öppenkällkodsbiblioteken
        <a href="http://scala-lang.org/">Scala</a> (<a href="http://www.scala-lang.org/license.html">BSD</a>),
        <a href="http://playframework.com/">Play</a> (<a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>
        ),
        och <a href="http://jquery.com/">jQuery</a> (<a href="https://jquery.org/license/">MIT</a>).
    </p>
    <p>
        Om du vill bidra så finns all källkod på <a href="https://github.com/teozkr/kodknackning">GitHub</a>.
    </p>
}
