@contentBase("Konventioner i guiden") {
    <p>För att guiden ska bli lättare att läsa så kommer vissa saker att markeras på olika sätt.</p>

    <p>Korta kodsegment kommer att markeras <code>med ett monospace-typsnitt så här</code>.</p>

    <div class="codesnippet">
        <pre class="code">
Längre kodexempel kommer att visas I sektioner som ser ut så här.
        </pre>

        <pre class="result">
Med resultaten vid sidan om.
        </pre>
    </div>

    <div class="warning">
        <p>Dessutom kommer varningar för vanliga misstag att visas så här.</p>
    </div>
}