@()(implicit req: RequestHeader)

@contentBase("Konventioner i guiden") {
    <p>För att guiden ska bli lättare att läsa så kommer vissa saker att markeras på olika sätt.</p>

    <p>Korta kodsegment kommer att markeras <code>med ett monospace-typsnitt så här</code>.</p>

    <div class="codesnippet">
        <pre class="code">
            Längre kodexempel kommer att visas I sektioner som ser ut så här.
        </pre>

        <pre class="result">
            Med resultaten vid sidan om.
        </pre>
    </div>

    <div class="warning">
        <p>Dessutom kommer varningar för vanliga misstag att visas så här.</p>
    </div>

    <p>
        Knappkombinationer kommer att visas med stilen <kbd>Win+R</kbd>, vilket i detta fall betyder
        att du ska hålla ned <kbd>Windows</kbd>-knappen och samtidigt trycka ned <kbd>R</kbd>
        . Dessa kan kombineras, till exempel
        betyder <kbd>Win+R, Alt+K</kbd> att du ska hålla ned Windows-knappen, trycka på <kbd>R</kbd>,
        släppa båda dessa, och sedan göra samma sak för <kbd>Alt+K</kbd>.
    </p>
}